<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2.76b</key>
	<string>Blender2.76/blender-2.76b-OSX_10.6-x86_64.zip</string>
	<key>2.76a</key>
	<string>Blender2.76/blender-2.76a-OSX_10.6-x86_64.zip</string>
	<key>2.76</key>
	<string>Blender2.76/blender-2.76-OSX_10.6-x86_64.zip</string>
	<key>2.75a</key>
	<string>Blender2.75/blender-2.75a-OSX_10.6-x86_64.zip</string>
	<key>2.75</key>
	<string>Blender2.75/blender-2.75-OSX_10.6-x86_64.zip</string>
	<key>2.74</key>
	<string>Blender2.74/blender-2.74-OSX_10.6-x86_64.zip</string>
	<key>2.73a</key>
	<string>Blender2.73/blender-2.73a-OSX_10.6-x86_64.zip</string>
	<key>2.73</key>
	<string>Blender2.73/blender-2.73-OSX_10.6-x86_64.zip</string>
	<key>2.72b</key>
	<string>Blender2.72/blender-2.72b-OSX_10.6-x86_64.zip</string>
	<key>2.72a</key>
	<string>Blender2.72/blender-2.72a-OSX_10.6-x86_64.zip</string>
	<key>2.72</key>
	<string>Blender2.72/blender-2.72-OSX_10.6-x86_64.zip</string>
	<key>2.71</key>
	<string>Blender2.71/blender-2.71-OSX_10.6-x86_64.zip</string>
	<key>2.70a</key>
	<string>Blender2.70/blender-2.70a-OSX_10.6-x86_64.zip</string>
	<key>2.70</key>
	<string>Blender2.70/blender-2.70-OSX_10.6-x86_64.zip</string>
	<key>2.69</key>
	<string>Blender2.69/blender-2.69-OSX_10.6-x86_64.zip</string>
	<key>2.68a</key>
	<string>Blender2.68/blender-2.68a-OSX_10.6-x86_64.zip</string>
	<key>2.68</key>
	<string>Blender2.68/blender-2.68-OSX_10.6-x86_64.zip</string>
	<key>2.67b</key>
	<string>Blender2.67/blender-2.67b-OSX_10.6-x86_64.zip</string>
	<key>2.67a</key>
	<string>Blender2.67/blender-2.67a-OSX_10.6-x86_64.zip</string>
	<key>2.67</key>
	<string>Blender2.67/blender-2.67-OSX_10.6-x86_64.zip</string>
	<key>2.66a</key>
	<string>Blender2.66/blender-2.66a-OSX_10.6-x86_64.zip</string>
	<key>2.66</key>
	<string>Blender2.66/blender-2.66-OSX_10.6-x86_64.zip</string>
	<key>2.65a</key>
	<string>Blender2.65/blender-2.65a-OSX_10.6-x86_64.zip</string>
	<key>2.65</key>
	<string>Blender2.65/blender-2.65-OSX_10.6-x86_64.zip</string>
	<key>2.64a</key>
	<string>Blender2.64/blender-2.64a-release-OSX_10.6_x86_64.zip</string>
	<key>2.64</key>
	<string>Blender2.64/blender-2.64-release-OSX_10.6_x86_64.zip</string>
	<key>2.63a</key>
	<string>Blender2.63/blender-2.63a-release-OSX_10.6_x86_64.zip</string>
	<key>2.63</key>
	<string>Blender2.63/blender-2.63-release-OSX_10.6_x86_64.zip</string>
	<key>2.62</key>
	<string>Blender2.62/blender-2.62-release-OSX_10.6_x86_64.zip</string>
	<key>2.61</key>
	<string>Blender2.61/blender-2.61-release-OSX_10.6_x86_64.zip</string>
	<key>2.60a</key>
	<string>Blender2.60/blender-2.60a-release-OSX_10.6_x86_64.zip</string>
	<key>2.60</key>
	<string>Blender2.60/blender-2.60-OSX_10.6_x86_64.zip</string>
	<key>2.59</key>
	<string>Blender2.59/blender-2.59-OSX_10.5_x86_64.zip</string>
	<key>2.58a</key>
	<string>Blender2.58/blender-2.58a-OSX_10.5_x86_64.zip</string>
	<key>2.58</key>
	<string>Blender2.58/blender-2.58-OSX_10.5_x86_64.zip</string>
	<key>2.57b</key>
	<string>Blender2.57/blender-2.57b-OSX_10.5_x86_64.zip</string>
	<key>2.57a</key>
	<string>Blender2.57/blender-2.57a-OSX_10.5_x86_64.zip</string>
	<key>2.57</key>
	<string>Blender2.57/blender-2.57-OSX_10.5_x86_64.zip</string>
	<key>2.56a Beta</key>
	<string>Blender5.56abeta/blender-2.56a-beta-OSX-10.5-x86_64.zip</string>
	<key>2.56 Beta</key>
	<string>Blender2.56beta/blender-2.56-beta-OSX-10.5-x86_64.zip</string>
	<key>2.55 Beta</key>
	<string>Blender2.55beta/blender-2.55-beta-OSX-10.5-x86_64.zip</string>
	<key>2.54 Beta</key>
	<string>Blender2.54beta/blender-2.54-beta-OSX-10.5-x86_64.zip</string>
	<key>2.53 Beta</key>
	<string>Blender2.53beta/blender-2.53-beta-OSX-10.5-x86_64.zip</string>
	<key>2.50 Alpha2</key>
	<string>Blender2.50alpha/blender-2.5-alpha2-OSX-10.5-x86_64.zip</string>
	<key>2.50 Alpha1</key>
	<string>Blender2.50alpha/blender-2.5-alpha1-OSX-10.5-x86_64.zip</string>
	<key>2.50 Alpha0</key>
	<string>Blender2.50alpha/blender-2.5-alpha0-OSX-10.5-x86_64.zip</string>
	<key>2.49b</key>
	<string>Blender2.49b/blender-2.49b-OSX-10.5-py2.5-intel.zip</string>
	<key>2.49a</key>
	<string>Blender2.49a/blender-2.49a-OSX-10.5-py2.5-intel.zip</string>
	<key>2.49</key>
	<string>Blender2.49/blender-2.49-OSX-10.4-py2.5-intel.zip</string>
	<key>2.48a</key>
	<string>Blender2.48a/blender-2.48a-OSX-10.4-py2.5-intel.zip</string>
	<key>2.48</key>
	<string>Blender2.48/blender-2.48-OSX-10.4-py2.5-intel.zip</string>
</dict>
</plist>
